# Dependencies
node_modules
.pnp
.pnp.js

# Build output
.next
out
build
dist

# Testing
coverage

# Environment
.env
.env.*
!.env.example
!.env.local.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Misc
README.md
.git
.gitignore
